#results div{
    min-height: 200px;
}

a.thumbnail {
    display: block;
    margin: 10px auto;
    max-width: 200px;
}

th {
    padding: 10px;
}

td {
    padding: 2px;
}

canvas {
    cursor: pointer;
}

#hoverInfoBox{
    position: absolute;
    border: 2px solid black;
    background-color: #ffffff;
    border-radius: 3px;
}